[Unit]
Description=Carelink Client Proxy
After=syslog.target network-online.target

[Service]
ExecStart=python3 /usr/local/carelink/carelink_client2_proxy.py -t /var/lib/carelink/logindata.json
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
