[Unit]
Description=Carelink Client Proxy
After=syslog.target network.target

[Service]
ExecStart=python3 /usr/local/carelink/carelink_client_proxy.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
 
